<!DOCTYPE html>
<html>
{% block style %}
{% endblock %}
<body>
    <div id="main">
        {% block aside %}
        {% endblock %}
	    
    	<main id="page">
            <section id="content">
					{% block content %}
                    {% endblock %}
	        </section>
        </main>
</div>
</body>

{% block scripts %}
{% endblock %}
</html>